
.ResultMain {
	width: 632px;
	margin-left: 150px;
	padding: 16px;
}

.result-stats {
	text-align: left;
}

.images-container * {
	text-align: left;
	color: #1A0DAB;
}

.images-box {
	display: flex;
	list-style: none;
}

.images-box {
	margin-left: 0;
	padding-left: 0;
	display: flex;
	justify-content: space-between;
}

.images-box img {
	height: 100px;
}

.images-sub {
	display: flex;
	justify-content: space-between;
}


.reportImages {
	color: #777777;
}

/*///////*/

.results-container {
	margin-top: 50px;
	text-align: left;
}

.results-container a {
	color: #1a0dab;
}

.result-item {
	margin-bottom: 26px;
}

.result-item * {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.result-item-header {
	font-size: 20px;
	line-height: 18px;
	font-family: 'Roboto',arial,sans-serif;
}

.result-item-url {
	color: #0C6D2B;
}

.result-item-location {
	color: #818181;
}

.result-item-description {
	color: #545454
}

/* ////  */

.more-results-container {
	display: flex;
	flex-direction: column;
}

.more-results-image {
	height: 40px;
	margin: 0 auto;
}

.more-results-links {
	width: 300px;
	margin: 0 0 0 180px;
	color: #4285f4;
}

.more-results-links span {
	display: inline-block;
	width: 20px;
	text-align: center;
}

.more-results-next {
	float: right;
}


/* //// */























